<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="bluerov2">

    <gazebo>
        <plugin name="uuv_gazebo_plugin" filename="libuuv_gazebo_plugin.so" />
    </gazebo>

    <!-- ============================= BASE =================================== -->
    <link name="base">
        
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="13.5"/>
            <inertia ixx="0.26" ixy="0.0" ixz="0.0" iyy="0.23" iyz="0.0" izz="0.37"/>
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://uuv_description/meshes/bluerov2/bluerov2.dae" scale="1 1 1"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://uuv_description/meshes/bluerov2/bluerov2.dae" scale="1 1 1"/>
            </geometry>
        </collision>

    </link>

    <!-- ============================= MANIPULATOR 1.4124 kg =================================== 
    <link name="manipulator_base_footprint" />

    <joint name="manipulator_base_footprint_joint" type="fixed">

        <origin rpy="${180*0.0174532925} 0 0" xyz="0.26 0.115 -0.02" />
        <parent link="base" />
        <child link="manipulator_base_footprint" />

    </joint>

    <xacro:include filename="$(find uuv_description)/urdf/manipulator/manipulator.urdf.xacro" />

    <xacro:alpha_urdf parent="manipulator_base_footprint" prefix="manipulator_"
      description_package="uuv_description">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:alpha_urdf> -->
    
</robot>