<?xml version="1.0" ?>

<robot name="proteo">

    <gazebo>
        <plugin name="uuv_gazebo_plugin" filename="libuuv_gazebo_plugin.so" />
    </gazebo>

    <!-- ============================= BASE =================================== -->
    <link name="base">
        
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="13.5"/>
            <inertia ixx="0.26" ixy="0.0" ixz="0.0" iyy="0.23" iyz="0.0" izz="0.37"/>
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://uuv_description/meshes/bluerov2/bluerov2.dae" scale="1 1 1"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://uuv_description/meshes/bluerov2/bluerov2.dae" scale="1 1 1"/>
            </geometry>
        </collision>

    </link>

</robot>